.calculator{
    margin: 30px;
}
.calculator-title{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #00B2FF;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.calculator-form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.calculator-label{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-left: 5px;
}
.calculator-input{
    width: 320px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 5px;
    color: #000000f9;
    border-radius: 10px;
    margin-bottom: 10px;
}
.calculator-small-input{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 5px;
    color: #000000f9;
    border-radius: 10px;
    margin-bottom: 10px;
}
.calculator-form-btn{
    float: right;
}
.calculator-form-btn-submit{
    padding: 10px;
    font-size: 16px;
    font-weight: 900;
    color: #000;
    background: #90EE90;
    border: 2px solid #90EE90;
    border-radius: 10px;
    margin-left: 20px;
}
.calculator-form-btn-submit:hover{
    color: #FF5E76;
    background: #fff;
    border: 2px solid #FF5E76;
    border-radius: 5px;
}
.calculator-form-btn-reset{
    padding: 10px;
    font-size: 14px;
    font-weight: 900;
    color: #FF5E76;
    background: #fff;
    border: 2px solid #FF5E76;
    border-radius: 5px;
}
.calculator-form-btn-reset:hover{
    color: #000;
    background: #90EE90;
    border: 2px solid #90EE90;
    border-radius: 10px;
}
.result{
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 900;
    color: #FF5E76;
    letter-spacing: 0.5px;
}

@media screen and  (max-width: 1180px) {
    .calculator-form{
        flex-direction: column;
    }
    .calculator-form-btn{
        float: left;
    }
    .calculator-form-btn-submit{
        margin-top: 20px;
    }
}

@media screen and (max-width: 380px) {
    .calculator-input{
        width: 100%;
    }
}
