.document-lists {
    margin: 30px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */ 
}

.switch-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    font-weight: 900;
    border: 3px solid #90EE90;
    color: #000;
    background: #90EE90;
    border-radius: 10px;
}

.switch-btn:hover {
    color: #FF5E76;
    background: #fff;
    border: 3px solid #FF5E76;
    border-radius: 5px;
}

.document-lists-title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #00B2FF;
    display: flex;
    align-items: center;
}

.document-lists-title::before,
.document-lists-title::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: #00B2FF;
    margin: 5px;
}

.document-list{
    background-image: url("../Assets/Images/LogoTrans.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.document-list-title {
    margin-top: 20px;
    font-size: 30px;
    text-decoration: underline;
    font-weight: 900;
    text-align: center;
    color: #FF5E76;
}
.mail-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: column;
}
.mail{
    text-decoration: none;
    color: blue;
    font-weight: 700;
}
.box{
    border: 3px solid #000;
    margin-top: 20px;
}
.box-text{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    padding: 5px;
}
.color{
    color: #FF5E76;
}
.document-list-header {
    margin-top: 20px;
    font-size: 20px;
    text-decoration: underline;
    font-weight: 900;
    color: #FF5E76;
}
.document-list-list{
    margin-left: 30px;
}
.document-list-list li{
    margin: 20px;
    color: #000000d0;
    font-size: 15px;
}
.center{
    text-align: center;
}
.circle{
    list-style: circle;
}
.square{
    list-style: square;
}
.button-text-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: column;
}
.download-btn{
    font-size: 20px;
    font-weight: 700;
    color: #FF5E76;
    background: #fff;
    border: 2px solid #FF5E76;
    border-radius: 5px;
    padding: 5px;
}
.download-btn:hover{
    color: #000;
    background: #90EE90;
    border: 2px solid #90EE90;
    border-radius: 10px
}